body {
    margin: 0%;
    padding: 0%;
    font-family: 'play-fair', system-ui, sans-serif;
}

.subContainer2 {
    display: flex;
    flex-direction: column;
    border: 2px solid #E7E7E9;
    flex-grow: 2;
}

.subContainer1 {
    display: flex;
    flex-direction: column;
    border: solid #E7E7E9;
    border-width: 2px 0 0 0;
    flex-grow: 1.5;
}

.container{
    display: flex;

}

.navbar {
    display: flex;
    padding: 20px;
    border:solid #E7E7E9;
    border-width: 0 0 2px 0;
    flex-grow: 1;
    max-height: 5vh;
    align-items: center;
}

.navLogo {
    flex-grow: 1;
}

.navLinks {
    display: flex;
    flex-grow: 0;
    gap: 2rem;
}

.italic {
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
}

.heroHeading {
    color: #000000;
    font-weight: 300;
    font-size: 50px;
    
}
.heroText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroStar{
    color: #2563EB;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 5%;
}

a {
    color: red;
}

hr {
    max-width: 1300px;
    color: #E7E7E9;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    align-items: center;
}

.sidebarImg {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}
